body{
     background-color:rgb(81, 107, 128) ;
}

h1{
    color:azure;
    text-align: center;
}

h2{
    color: beige;
     text-align: center;
}

p{
    color: chartreuse;
}

#img1 {
  display: block;
  margin: auto;
  width: 35%;
}